<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script type="text/javascript" src="js/plugins/Flashlight.js"></script>


    <script src="src/app.js"></script>
    <script src="src/translator/translator.controller.js"></script>
    <script src="src/translator/translator.service.js"></script>
  </head>

  <body ng-app="morse" ng-controller="TranslatorCtrl as morse">


    <ion-pane>
      <ion-header-bar class="bar-stable bar-royal">
        <h1 class="title">Morse Translator</h1>
      </ion-header-bar>
      <ion-content class="has-header">      

      <div class="row">
        <div class="col text-center">
          <img src="img/morse.png">                
        </div>
      </div>
    
      <div class="list list-inset">
        <label class="item item-input">
          <textarea placeholder="Message à traduire // SOS par défaut !" ng-model="morse.morseInput" ng-change="morse.translate([],morse.morseInput)"></textarea>
        </label>
        <label class="item item-input">
          <textarea placeholder="Message à traduit" ng-model="morse.morseOutput"></textarea>
        </label>
      </div>

      <div class="row">
         <div class="col text-center"> 
          <button class="button button-large button-positive" ng-click="morse.vibrationTranslate(morse.morseInput)">
            Vibreur 
          </button> 
          <button class="button button-large button-calm" ng-click="morse.flashLightTranslate(morse.morseInput)">
            Flashlight 
          </button> 
        </div>
      </div>

      </ion-content>
    </ion-pane>
  </body>
</html>
